<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LLF_ProjectSetup.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>186C247B1DF507B6008AE1E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186C24941DF507B6008AE1E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186C249F1DF507B6008AE1E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
